<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }
      
      th, td {
        text-align: left;
        padding: 16px;
      }
      
      tr:nth-child(even) {
        background-color: rgb(183, 222, 247);
      }
      </style>
  </head>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <%- include('./partials/navbarcss'); %>
  <body>
    <div class="container text-center" style="margin-top:50px;">
      <div class="row" style="height: 68vh">
        <div class="col-sm-12" style="padding-left: 10px;padding-right: 10px;">
          <h3>
            <center><h2 style="margin-left:70px;margin-top:40px"><%= title %></h2></center>
          </h3>
          <% if(data.length!=0){ %>
            <table
            id="dtBasicExample"
            cellspacing="0"
            width="100%"
          >
          <thead>
            <tr style="background-color: rgb(17, 16, 16);">
              <th style="width: 130px;color: aliceblue;">Date</th>
              <th style="color: aliceblue;">Description</th>
              <th style="width: 130px;color: aliceblue;">Files</th>
            </tr>
          </thead>
              
              <% data.forEach((i)=>{ %>
              <tr>
                <td style="width: 130px;"><%= i.name %></td>
                <td><%= i.description %></td>
                <td style="width: 130px;">
                  <a href="../images/<%=i.files %>" target="_blank">Download</a>
                </td>
              </tr>
              <% }) %>
          </table>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
