<!DOCTYPE html>
<html>
  <head>

    <!-- bootstrap 4.2 cdn links -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <!-- <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script> -->

    <!-- Jquery integration -->
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>

    <!-- datatables css and js (datatables.net) -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
    />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <!-- call this function  for pagination-->
    <script>
      $(document).ready(function () {
        $("#dtBasicExample").DataTable({
          pagingType: "numbers",
        });
        $(".dataTables_length").addClass("bs-select");
      });
    </script>
  </head>
  <header><%- include('./partials/header'); %></header>
  <%- include('./partials/navbarcss'); %>
  <body>
    <div style="margin-top: 30px">
      <h3>
        <center><h2><%= title %></h2></center>
      </h3>
      <% if(data.length!=0){ %>
      <table
        id="dtBasicExample"
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="th-sm">Date</th>
            <th class="th-sm">Description</th>
            <th class="th-sm">Files</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((i)=>{ %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.description %></td>
            <td>
              <a href="../images/<%=i.files %>" target="_blank">Download</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
